.zhi{
	font-size: 14px;
	font-family: 'Helvetica Neue',Arial,'Hiragino Sans GB','Microsoft YaHei','WenQuanYi Micro Hei',Sans-serif;
	padding-top: 46px;
}
.receptacle {
    margin-left: auto;
    margin-right: auto;
    max-width: 1008px;
    clear: both;
}
.pure-g {
    letter-spacing: -.31em;
    text-rendering: optimizespeed;
    font-family: FreeSans,Arimo,"Droid Sans",Helvetica,Arial,sans-serif;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
}
main {
    margin-top: 2em;
}
@media screen and (min-width: 48em)
	r.0a96e357.css:14
	.pure-u-md-17-24 {
    width: 70.8333%;
}
.pure-g [class*=pure-u] {
    font-family: sans-serif;
}
.page-content-main, .page-sidebar {
    margin-bottom: 2em;
}
.pure-u-1, .pure-u-1-1, .pure-u-1-2, .pure-u-1-3, .pure-u-2-3, .pure-u-1-4, .pure-u-3-4, .pure-u-1-5, .pure-u-2-5, .pure-u-3-5, .pure-u-4-5, .pure-u-5-5, .pure-u-1-6, .pure-u-5-6, .pure-u-1-8, .pure-u-3-8, .pure-u-5-8, .pure-u-7-8, .pure-u-1-12, .pure-u-5-12, .pure-u-7-12, .pure-u-11-12, .pure-u-1-24, .pure-u-2-24, .pure-u-3-24, .pure-u-4-24, .pure-u-5-24, .pure-u-6-24, .pure-u-7-24, .pure-u-8-24, .pure-u-9-24, .pure-u-10-24, .pure-u-11-24, .pure-u-12-24, .pure-u-13-24, .pure-u-14-24, .pure-u-15-24, .pure-u-16-24, .pure-u-17-24, .pure-u-18-24, .pure-u-19-24, .pure-u-20-24, .pure-u-21-24, .pure-u-22-24, .pure-u-23-24, .pure-u-24-24 {
    display: inline-block;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}
@media (min-width: 1008px)
	r.0a96e357.css:14
	.page-roundtable-list .page-content-main>.unit-inner {
    margin-left: 0;
    margin-right: 25px;
}
.pure-g [class*=pure-u]>* {
    font-family: 'Helvetica Neue',Arial,'Hiragino Sans GB','Microsoft YaHei','WenQuanYi Micro Hei',Sans-serif;
}
main section>.unit-inner, main aside>.unit-inner {
    margin: 0 10px;
}
.roundtable-list {
    margin-top: -1em;
}
@media screen and (min-width: 48em)
	r.0a96e357.css:14
	.pure-u-md-1-3, .pure-u-md-8-24 {
    width: 33.3333%;
}
.roundtable-list .content {
    margin: 1em;
    border: 1px #d3d9de solid;
    border-radius: 3px;
}
.roundtable-list .item-link {
    position: relative;
    display: block;
    position: relative;
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    border-radius: 3px 3px 0 0;
}
.roundtable-list .item-link .mask {
    display: block;
    width: 100%;
    height: 100%;
    background-image: -webkit-linear-gradient(top,rgba(0,0,0,.01) 70%,rgba(0,0,0,.4) 100%);
    background-image: linear-gradient(to bottom,rgba(0,0,0,.01) 70%,rgba(0,0,0,.4) 100%);
}
.roundtable-list .avatar {
    width: 100%;
    border-radius: 3px 3px 0 0;
    display: none;
}
.roundtable-list .name {
    position: absolute;
    font-size: 15px;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
}
.roundtable-list .name, .roundtable-list .visits {
    padding: .6em .8em;
}
.roundtable-list .visits {
    box-sizing: border-box;
    word-wrap: break-word;
    word-break : break-all;
    width:200px;
    height: 100;
    display: block;
    /* width: 100%; */
    color: #778087;
    background: #fff;
    border-radius: 0 0 3px 3px;
}
.feeds-loading {
    margin-top: 2em;
    display: block;
    background: 0 0;
    border: 0;
    width: 100%;
    outline: 0;
}
.unit-inner button {
    -webkit-appearance: button;
    cursor: pointer;
    text-transform: none;
    overflow: visible;
    color: inherit;
    font: inherit;
    margin: 0;
    padding: 0;
}
.pure-g [class*=pure-u] {
    font-family: sans-serif;
}
@media screen and (min-width: 48em)
	r.0a96e357.css:14
	.pure-u-md-7-24 {
    width: 29.1667%;
}
main section>.unit-inner, main aside>.unit-inner {
    margin: 0 10px;
}
.module-like, .module, .feeds.loose .item, .roundtable-followers .follower .content {
    border-radius: 3px;
    border: 1px solid #d3d9de;
    box-shadow: 0 1px 2px rgba(0,0,0,.04);
    background-color: #fff;
}
.module .module-header {
    padding: .5em .8em;
    border-bottom: 1px solid #eaf0f5;
    border-radius: 3px 3px 0 0;
    background: #f9fafb;
}
.page-roundtable .page-sidebar .items {
    margin: 0;
    list-style: none;
}
.module-body ul {
    padding: 0;
    list-style-position: inside;
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
.page-roundtable .page-sidebar .items .item {
    padding: .5em 0;
    color: #778087;
}
.item li{
	display: list-item;
    text-align: -webkit-match-parent;
}
 
.page-roundtable .page-sidebar .items .item-header {
    padding: .5em .8em;
    overflow: hidden;
}
.page-roundtable .page-sidebar .items .item-link {
    float: left;
    width: 50px;
    height: 50px;
    margin-right: .8em;
}
img.avatar.d50 {
    width: 50px;
    height: 50px;
    border-radius: 4px;
}

