/*浠ュㄨ娣诲浣宸辩css*/
img {
/* max-width: 100%;  *//*图片自适应宽度*/
max-width: 842px;
}
body {
overflow-y: scroll !important;
}
.view {
word-break: break-all;
}
.vote_area {
display: block;
}
.vote_iframe {
background-color: transparent;
border: 0 none;
height: 100%;
}
#edui1_imagescale{display:none !important;} /*去除点击图片后出现的拉伸边框*/